$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  padding: 0;
  margin: 0;
}

.btn {
  background-color: #E9656C;
  padding: 5px;
}

.main {
  background-color: orange;
}

.nav-bar {
  background-color: blue;
  padding: 5px;
}

.nozama {
  font-size: 100px;
  margin: 0;
  padding: 2px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

.products-wrap {
  text-align: center;
}

.search {
  background-color: white;
  margin: 0 auto;
  padding: 5px;
}

.shopping-cart {
  text-align: center;
}

.sign-in-up-wrap {
  margin: 0 auto;
  max-width: 300px;
  min-width: 200px;
  width: 50%;
}

.sign-message {
  margin: 0 auto;
  text-align: center;
}
